.wy-side-nav-search, .wy-nav-top {
    background-color: #9a0020;
}

/* Extremely hacky way to put the logo on the top */
/* .wy-side-nav-search::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-image: url(../_images/logo.png);
    background-size: contain;
    background-color: white;
    border-radius: 10px;
    float: left;
    z-index: 10;
}*/

.wy-nav-side {
    background-image: url(outlined-logo.png);
    background-size: 400px;
    background-position: 40% 100%;
    background-repeat: no-repeat;
}