.wy-side-nav-search, .wy-nav-top {
    background-color: #9a0020;
}

div[role=contentinfo]::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-image: url(mrdt-logo.png);
    background-size: contain;
    float: left;
    z-index: 10;
}

.wy-nav-side {
    background-image: url(mrdt-logo-outlined.png);
    background-size: 400px;
    background-position: 40% 100%;
    background-repeat: no-repeat;
    box-shadow: inset #404040 0px -70px 100px;
}

div.wy-menu > ul > li.toctree-l1:not(.current) {
    background-color: rgba(64, 64, 64, 0.5);
}